@use '../variables' as v;
.header {
  display: flex;
  align-items: center;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
  justify-content: space-between;
  &_logo {
    height: 68px;
    width: 210px;
  }

  &_list {
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 1.5rem;
    color: v.$main-color;
  }

  &_link {
    color: v.$main-color;
    text-decoration: none;
    &:visited {
        color: v.$main-color;
        text-decoration: none;
    }
    &___active {
        text-decoration: underline;
    }
  }
}
