.Container {
  margin-top: 30px;
  & h1,p { margin: 0;}

  & .top_block {
    display: flex;
    & .title_block {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

    }
  }
  .host_block {
    display: flex;
  }
}
