.Container {
  box-sizing: border-box;
  max-width: 1240px;
  background: #f7f7f7;
  border-radius: 25px;
  margin: 0 auto 50px;
  padding: 55px 50px 45px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px 60px;
  @media screen and (max-width: 640px) {
    
  padding: 0;
  background: unset;
  border-radius: unset;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 25px;
  }
}
