.Container {
  width: 100%;
  height: 415px;
  margin-top: 55px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  
@media screen and (max-width: 450px) {
  height: 255px;
  border-radius: 10px;
}


  & :global(.carousel-image) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    &:global(.active) {
      opacity: 1;
      z-index: 10;
    }
  }
  & button {
    position: absolute;
    top: 50%;
    z-index: 15;
    translate: 0 -50%;
    border: none;
    background: none;
    cursor: pointer;
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.3));
    & img {
      @media screen and (max-width: 450px) {
        height: 25px;
      }
    }
  }
  & :global(.left-button) {
    left: 16px;
    
      @media screen and (max-width: 450px) {
        left: 6px;
      }
  }

  & :global(.right-button) {
    right: 16px;
          @media screen and (max-width: 450px) {
        right: 6px;
      }
  }
  & span {
    position: absolute;
    color: #fff;
    font-size: 1.125rem;
    z-index: 15;
    bottom: 16px;
    left: 50%;
    translate: -50%;
  text-shadow: 0px 0px 3px black;
  @media screen and (max-width: 450px) {
    bottom: 6px;
    font-size: 1rem;
  }
  }
}
